{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Language Learning</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/course-list.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #d3d3d3;">
        <div class="container">
            <a class="navbar-brand" href="#">MyBrand</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container">
    {% for course in course_list %}
        <div class="block" id="articles">
            <h2>{{ course }}</h2>
            <p>In this section, you'll find a variety of articles on different topics to improve your reading
                comprehension skills.</p>
            <ul>
                {% for lesson in course.lessons.all %}
                    <li><a href="{{ lesson.get_absolute_url }}">{{ lesson }}</a> |  {% if lesson.get_percent %} Quiz {{ lesson.get_percent }}%{% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
</body>
</html>
