{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Set New Password' %}{% endblock title %}

{% block content %}
<div class="container" style="margin-top: 120px; margin-bottom: 120px;">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <h2 class="text-center">{% trans 'Set New Password' %}</h2>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success w-100" type="submit">{% trans 'Set Password' %}</button>
      </form>
      <p class="text-center">{% trans "Remembered your password?" %} <a href="{% url 'account_login' %}">{% trans 'Login' %}</a></p>
    </div>
  </div>
</div>
{% endblock content %}
